@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
body {
    font-family: "Times New Roman", sans-serif;
    font-size: 16pt; /* Your comment goes here */
}

p {
    color: red;
}

h1 {
    font-family: "Times New Roman";
    font-size: 36pt;
}
/*main, header, footer, nav ul {
    max-width: 50rem;
    margin: 0 auto 0 auto;
}*/
main {
    background-color: rgb(250, 249, 228);
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    width: 100%;
    margin: 20px,20px;
    overflow: hidden;
    height: 250px;
    padding: 50px,50px;
    position: relative
    /*background-image: url("../img/polacks.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    opacity: 0.5;
    margin: 50px ;*/
}
.headerimage{
 width: 100%;
 height:auto;
 opacity: 0.2;
 padding: 50px,50px;
 
}

header h1 {
    margin:60px 60px;
    text-align: center;
    position: absolute;
    padding: 60px,60px;
}

/*av ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}*/

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}
.allergen {
   
   font-weight: bold;
}

.menystart{
    margin:30px;
}


#meny {
   margin:30px;
    background-color:black ;
   color:rgb(250, 249, 228);
   border-style: dashed;
    border-color: rgb(250, 249, 228);
}
button:hover {
    cursor:pointer;
    color: #ffffff
}
label, 
input[type="radio"],
select
{
    cursor:pointer;
}
.knapp{
    margin: 50px, 50px;
    padding:50px, 50px;
}


#kundinfo{
    border-style: dashed;
    border-color: black;
    margin:30px;
}
.kundinfotext{
    margin:20px, 20px;
    padding:30px;
}
.wrapper{
    display: grid;
    grid-gap: 10px;
}
.box{
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.a {
     grid-column: 1 ;
 }
 .b{
    grid-column: 2;
 }
 .c{
    grid-column: 3;
 }
 @media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}